<h1>Books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>ISBN</th>
    <th>Published</th>
    <th>Price</th>
    <th></th>
  </tr>

  <%= render(@books) || 'There are no books. Please add one.' %>
</table>